.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .card {
        width: 25vw;
        box-shadow: 0px 0px 1rem gray;
        text-align: center;
        img {
            width: 100%;
            height: 50%;
            object-fit: cover;
        }
        font-size: 1.25vw;
        line-height: 2vw;
        h2 {
            margin-top: 1vw;
        }
        p {
            font-size: 1.25vw;
            padding: 1vw;
            margin-top: 1vw;
        }
    }
}
hr {
    margin: 1rem auto;
}
.text {
    width: 75vw;
    margin: 10rem auto;
    font-size: 1.5rem;
    line-height: 4rem;
    text-align: center;
    p {
        text-align: left;
        margin-top: 1vh;
    }
}
.city-section {
    display: grid;
    width: 95vw;
    margin: 2rem auto;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 0px 20px gray;
    h1 {
        
        background: url(../images/palas-iasi.jpg);
        @include background();
        text-align: center;
        padding: 10rem;
        color: white;
        font-size: 2.5rem;
    }
    p {
        padding: 1rem;
        align-self: center;
        font-size: 2rem;
        line-height: 5rem;
    }
}
form {
    width: 75vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: relative;
    box-shadow: 0px 0px 5px gray;
    padding: 1rem;
    h2 {
        font-size: 2rem;
        text-align: center;
    }
    div {
        position: relative;
        input {
            outline: none;
            border: none;
            width: 100%;
            height: 100%;
            font-size: 1rem;
            margin-top: 2rem;
        }
        label {
            position: absolute;
            bottom: 0%;
            left: 0px;
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-bottom: 1px solid black;
            span {
                position: absolute;
                bottom: 5px;
                left: 0px;
                transition: all 0.3s ease;
                font-weight: bold;
            }
        }
        label::after {
            content: '';
            position: absolute;
            left: 0px;
            bottom: -1px;
            border-bottom: 3px solid #083a74;
            height: 100%;
            width: 0%;
            transition: 0.5s ease;
        }
        input:focus + label span, input:valid + label span {
            transform: translateY(-100%);
            color: #083a74;
        }
        input:focus + label::after, input:valid + label::after {
            width: 100%;
        }
    }
    button {
        border: none;
        color: white;
        background: linear-gradient(rgb(84, 142, 235), lightskyblue);
        border-radius: 5px;
        padding: 0.5rem;
        font-size: 1rem;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 1500px) {
    .text {
        font-size: 1rem;
        line-height: 2.5rem;
        h1 {
            font-size: 1.5rem;
        }
    }
}
@media screen and (max-width: 1200px) {
    .city-section {
        display: flex;
        flex-direction: column;
        h1 {
            padding: 3rem;
            font-size: 1.5rem;
        }
        p {
            text-align: center;
            font-size: 1.25rem;
            line-height: 2.75rem;
        }
    }
}
@media screen and (max-width: 850px) {
    .cards {
        flex-direction: column;
        .card {
            width: 60vw;
            margin: 2rem auto;
            h2 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1rem;
            }
            line-height: 3rem;
        }
    }
    .text {
        width: 75vw;
        font-size: 0.75rem;
        line-height: 2rem;
        margin: 1rem auto;
        h1 {
            font-size: 1.5rem;
        }
    }
    form {
        width: 90vw;
    }
}
@media screen and (max-width: 600px) {
    .cards {
        .card {
            width: 90vw;
        }
    }
    .text {
        width: 90vw;
    }
}
