.cards {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .card {
        width: 25vw;
        box-shadow: 0px 0px 1rem gray;
        text-align: center;
        img {
            width: 100%;
            height: 50%;
            object-fit: cover;
        }
        font-size: 1.25vw;
        line-height: 2vw;
        h2 {
            margin-top: 1vw;
        }
        p {
            font-size: 1.25vw;
            padding: 1vw;
            margin-top: 1vw;
        }
    }
}
.text {
    width: 75vw;
    margin: 3rem auto;
    font-size: 1.5rem;
    line-height: 4rem;
    text-align: center;
    p {
        text-align: left;
        margin-top: 1vh;
    }
}
.city-section {
    display: grid;
    width: 95vw;
    margin: 2rem auto;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 0px 20px gray;
    h1 {
        
        background: url(../images/palas-iasi.jpg);
        @include background();
        text-align: center;
        padding: 10rem;
        color: white;
        font-size: 2.5rem;
    }
    p {
        padding: 1rem;
        align-self: center;
        font-size: 2rem;
        line-height: 5rem;
    }
}
@media screen and (max-width: 1500px) {
    .text {
        font-size: 1rem;
        line-height: 2.5rem;
        h1 {
            font-size: 1.5rem;
        }
    }
}
@media screen and (max-width: 1200px) {
    .city-section {
        display: flex;
        flex-direction: column;
        h1 {
            padding: 3rem;
            font-size: 1.5rem;
        }
        p {
            text-align: center;
            font-size: 1.25rem;
            line-height: 2.75rem;
        }
    }
}
@media screen and (max-width: 850px) {
    .cards {
        flex-direction: column;
        .card {
            width: 60vw;
            margin-top: 1rem;
            h2 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1rem;
            }
            line-height: 3rem;
        }
    }
    .text {
        width: 75vw;
        font-size: 0.75rem;
        line-height: 2rem;
        margin: 1rem auto;
        h1 {
            font-size: 1.5rem;
        }
    }
}
@media screen and (max-width: 600px) {
    .cards {
        .card {
            width: 90vw;
        }
    }
    .text {
        widows: 90vw;
    }
}
