* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
@mixin background() {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import './nav';
@import './hero';
@import './main';
@import './footer';