@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  background: #ffffff;
}

nav {
  width: 90vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo {
  width: calc(45px + 7vw);
}

.logo img {
  width: 100%;
}

.links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links li {
  margin: 0px calc(1vw + 1rem);
}

.links li a {
  text-decoration: none;
  font-size: calc(1vw + 5px);
  color: black;
}

.burger {
  display: none;
}

@media screen and (max-width: 700px) {
  nav {
    width: 100vw;
  }
  .links {
    position: fixed;
    width: 50vw;
    height: 100vh;
    left: 100%;
    top: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 20vh;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    overflow: auto;
  }
  .links li {
    margin-top: 7px;
  }
  .links li a {
    font-size: calc(3vh + 5px);
    color: white;
  }
  .links-active {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger div {
    background: black;
    width: calc(25px + 1vw);
    height: 4px;
    margin-top: 5px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    border-radius: 3px;
  }
  .burger-active {
    z-index: 10;
  }
  .burger-active div {
    background: white;
  }
  .burger-active .line1 {
    -webkit-transform: rotateZ(-45deg) translateY(300%);
            transform: rotateZ(-45deg) translateY(300%);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .burger-active .line2 {
    opacity: 0;
  }
  .burger-active .line3 {
    -webkit-transform: rotateZ(45deg) translateY(-300%);
            transform: rotateZ(45deg) translateY(-300%);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

.hero {
  color: #fff;
  position: relative;
  overflow: hidden;
  height: 75vh;
  width: 100vw;
  margin-top: 4px;
}

.hero .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: calc(1vw + 1rem);
}

.hero .slide h1 {
  font-size: calc(2vw + 1.5rem);
}

.hero .slide p {
  line-height: calc(1.5vw + 2rem);
}

.hero .current {
  opacity: 1;
}

.hero .slide:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/hill.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/hill.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .slide:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../images/Gospel.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/Gospel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .slide:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../images/world.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/world.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero button {
  position: absolute;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.hero button#next {
  right: 1vw;
}

.hero button#prev {
  left: 1vw;
}

.hero button img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: calc(2vw + 2rem);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .card {
  width: 25vw;
  -webkit-box-shadow: 0px 0px 1rem gray;
          box-shadow: 0px 0px 1rem gray;
  text-align: center;
  font-size: 1.25vw;
  line-height: 2vw;
}

.cards .card img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards .card h2 {
  margin-top: 1vw;
}

.cards .card p {
  font-size: 1.25vw;
  padding: 1vw;
  margin-top: 1vw;
}

hr {
  margin: 1rem auto;
}

.text {
  width: 75vw;
  margin: 10rem auto;
  font-size: 1.5rem;
  line-height: 4rem;
  text-align: center;
}

.text p {
  text-align: left;
  margin-top: 1vh;
}

.city-section {
  display: -ms-grid;
  display: grid;
  width: 95vw;
  margin: 2rem auto;
  -ms-grid-columns: (1fr);
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-shadow: 0px 0px 20px gray;
          box-shadow: 0px 0px 20px gray;
}

.city-section h1 {
  background: url(../images/palas-iasi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 10rem;
  color: white;
  font-size: 2.5rem;
}

.city-section p {
  padding: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2rem;
  line-height: 5rem;
}

form {
  width: 75vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px gray;
          box-shadow: 0px 0px 5px gray;
  padding: 1rem;
}

form h2 {
  font-size: 2rem;
  text-align: center;
}

form div {
  position: relative;
}

form div input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  margin-top: 2rem;
}

form div label {
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

form div label span {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: bold;
}

form div label::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  border-bottom: 3px solid #083a74;
  height: 100%;
  width: 0%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

form div input:focus + label span, form div input:valid + label span {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #083a74;
}

form div input:focus + label::after, form div input:valid + label::after {
  width: 100%;
}

form button {
  border: none;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#548eeb), to(lightskyblue));
  background: linear-gradient(#548eeb, lightskyblue);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 1500px) {
  .text {
    font-size: 1rem;
    line-height: 2.5rem;
  }
  .text h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .city-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .city-section h1 {
    padding: 3rem;
    font-size: 1.5rem;
  }
  .city-section p {
    text-align: center;
    font-size: 1.25rem;
    line-height: 2.75rem;
  }
}

@media screen and (max-width: 850px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards .card {
    width: 60vw;
    margin: 5rem auto;
    line-height: 3rem;
  }
  .cards .card h2 {
    font-size: 1.5rem;
  }
  .cards .card p {
    font-size: 1rem;
  }
  .text {
    width: 75vw;
    font-size: 0.75rem;
    line-height: 2rem;
    margin: 1rem auto;
  }
  .text h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .cards .card {
    width: 90vw;
  }
  .text {
    width: 90vw;
  }
}
/*# sourceMappingURL=style.css.map */